{% extends "layout.html" %}
{% block content %}

<p>Viestit:</p>
  {% if titles %}
  <hr>
    {% for title in titles %}
      {% if title[6] %}
        <a href="/post/{{ title[0] }}" style="color:rgb(95, 23, 73); font-size:22px">{{ title[1] }}<a/>
        <p2 style="color: white; font-size: 16px;">{{ title[3] }}</p2>
        <br><br>
        <b style="color: white;">{{ title[2] }}</b>
        <br><br>
          {% if session.user_role==2 or session.user_id==title[4] %}
            <form action="/delete_title" method="POST">
              <input type="hidden" name=title_id value="{{title[0]}}">
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <input style="font: size 10px;" type="submit" value="Poista viesti">
            </form>
          {% endif %}
          <hr>
      {% endif %}
    {% endfor %}
  {%  else %}
    <p> Aihealueelle ei ole vielä luotu keskusteluja</p>
  {% endif %}
<a href="/">Palaa etusivulle</a>

{% endblock %}